<launch>
<node name="cam_subscriber" pkg="navigation" type="cam_subscriber.py" output="screen"/>
<node name="vel_publisher" pkg="navigation" type="vel_publisher.py" output="screen"/>
<rosparam command="load" file="$(find navigation)/config/navigation.yaml" />
<arg name="debug" default="False"/>
<param name="navigation/debug" value="$(arg debug)"/>
<arg name="verbose" default="False"/>
<param name="navigation/verbose" value="$(arg verbose)"/>
</launch>
